{% extends 'base.html'%}

{% block css %}

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}">

{% endblock %}

{% block content %}

	<h1>{{ question.text }}</h1>
	<h3>Disciplina: {{ question.subject }}</h3>
	<h3>Tema: {{ question.subsubject }}</h3>
	<h3>Ano: {{ question.year }}</h3>
	<h3>Dificuldade: {{ question.difficulty }}</h3>

	<h3>Respostas incorretas</h3>
	<ul>
		{% for answer in wrongAnswers %}
		<li>{{ answer.text }}</li>
		{% endfor %}
	</ul>

	<h3>Resposta correta:</h3>
	<ul>
		<li>{{ question.correctAnswer.text }}</li>
	</ul>

	<h2>Comentários:</h2>

	{% for comment in question.getComments %}
		<h3>{{ comment.author }} - {{ comment.date }} - {{ comment.votes }}</h3>
		<h6>{{ comment.content }}</h6>
	{% endfor %}

	<h3>Adiciona um comentário:</h3>
	<form method="post" action="">
		{% csrf_token %}

		{{ commentForm.as_table }}

		<input type="submit" value="Add comment">
	</form>

{% endblock %}
