{% extends 'base.html'%}

{% block content %}
    Objecto agarrado:              {{exam_list}}<br>
    Questões no objecto:           {{question_list}} <br>
    Questões falhadas no objecto:  {{failed_list}} <br>
    Questões acertadas no objecto: {{correct_list}} <br>

<div class="form_exam">
<form method="POST">
    {% csrf_token %}

    {%for question in question_list%}

        <h3>{{question.text}} {{question.answer.all}}</h3>
        {% for answer in question.answer.all  %}
            <p><input type='radio' name='{{question.id}}' value={{answer.id}}> {{answer.text}}</p>
        {% endfor %}

    {%endfor%}

    <button class="btn btn-secondary" type="submit">Submeter</button>
</form></div>
    <p>{{exam_list.subject}} {{exam_list.year}} {{exam_list.difficulty}} ----> Score:{{exam_list.score}}  </p>

{% endblock %}
