body {
    background-image: url('../img/fundo.png');
    /*acrescentei estas 2 linhas para a imagem ocupar a página toda*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: hotpink ;
    text-decoration: none;
}

a:hover {
    color: red ;
}

/* Barra Navegação */
.menu {
    vertical-align: middle;
    width: 100%;
}

ul li {
    display: inline;
    padding: 3%; 
}

.btn-primary {
    background-color: #56CCF2; 
    color: white; 
    border: 5px solid #56CCF2;
    padding: 8px 35px;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 75%;
    left: 16%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
.btn-primary:hover {
    background-color: #0895c4;
    border: 5px solid #0895c4;
    color: white;
  }

.titulo {
    position: absolute;
    margin-left: 5rem;  
    font-size: 4rem; 
    top: 30%;
}

.logo {
    position: absolute;
    margin-left: 4rem;  
}

.emoji {
    position: absolute;
    margin-left: 4rem;  
    top: 33%;  
    right: 37%;
}

/* The following css will only be rendered on devices with max-width of 400px */
@media screen and (max-width: 600px) {

    .btn-primary {
        padding: 8px 20px;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    body {
        background-image: url('../img/phonebg.png');
        background-size: cover;
        background-attachment: fixed;
        height: 125%;
    }
    
}

