html {
    background-image: url('../img/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: hotpink ;
    text-decoration: none;
}

a:hover {
    color: red ;
}

/* Barra Navegação */
.menu {
    vertical-align: middle;
    width: 100%;
}

ul li {
    display: inline;
    padding: 3%; 
}

.btn-primary {
    background-color: #56CCF2; 
    color: white; 
    border: 2px solid #56CCF2;
  }
  
