<!DOCTYPE html>
<html style="scroll-behavior: smooth; background-color: chartreuse;">
    <head><!-- Metadata goes here-->
        <meta charset="UTF-8">
        <meta name="description" content="A melhor forma de te preparares para os Exames Nacionais">
        <meta name="auhor" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device_width, initial-scale=1.0"     >   
        <title>HS ao Quadrado</title>
        <link rel="stylesheet" href="">
    </head>
    <header>
        <img src="logo_black.png" alt="logo" width="30" height="30"style="vertical-align:middle;">
        <center><h1>HS ao Quadrado</h1></center>
        <center><h3>A melhor forma de te preparares para os Exames Nacionais</h3></center>


    </header>

    <body>
        {% block content%}
        This is where the different html will show up
        {% endblock%}
    </body>

</html>