<!DOCTYPE html>
<html class="general">
    <head><!-- Metadata goes here-->
        <meta charset="UTF-8">
        <meta name="description" content="A melhor forma de te preparares para os Exames Nacionais">
        <meta name="auhor" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device_width, initial-scale=1.0"     > 
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

            <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">  
        <title>HS ao Quadrado</title>
    </head>

    <header>
        <table class="menu">
            <th style="text-align: left;">
            <img src="{% static 'img/logo_black.png' %}" alt="logo" width="30" height="30" style="vertical-align:middle;">
            </th>
            <th style="text-align: right;">        
            <!---Menu ----->
                <div>
                    
                        <ul>
                            <li>
                                <a href="contact.html" class="links_menu">Contactos</a>
                            </li>
                            <li>
                                <a href="Login.html">Login</a>
                            </li>
                        </ul>

                </div>
            </th>
        </table>     

        <h1>HS ao Quadrado</h1>
        <h3>A melhor forma de te preparares para os Exames Nacionais</h3>
      
        
    </header>

    <body>

        {% block content %}
        
        {% endblock %}

    </body>

</html>