<!DOCTYPE html>
<html>
    <head><!-- Metadata goes here-->
        <meta charset="UTF-8">
        <meta name="description" content="A melhor forma de te preparares para os Exames Nacionais">
        <meta name="auhor" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device_width, initial-scale=1.0"     > 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        {% load static %}

            <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">  
        <title>HS ao Quadrado</title>
    </head>

    <header> 

    </header>

    <body>

        {% block content %}
        
        {% endblock %}

    </body>

</html>