<!DOCTYPE html>
<body style="background-color: chartreuse;">
    <form>
        <!-- Pergunta 1 - Caixinhas -->
        <p>Qual é a raiz de 4?</p>
        <input type="radio" value="male">
        <label for="male">2</label><br>
        <input type="radio" value="female">
        <label for="female">raiz...?</label><br>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">4</label><br>
        <input type="radio" id="other" name="gender" value="other">
        <label type="radio" value="other">elefante</label><br>

        <!-- Pergunta 2 - Input texto -->
        <p>Qual é o sentido da vida?</p>
        <input type="text" name="answer"><br><br>

        <input type="submit" name="submit">
    </form> 
</body>