<!DOCTYPE html>
<body style="background-color: chartreuse;">
    <form>
        <!-- Pergunta 1 - Caixinhas -->
        <p>Qual é a raiz de 4?</p>
        <input type="radio" value="1" name="será">
        <label for="1">2</label><br>
        <input type="radio" value="2" name="será">
        <label for="2">raiz...?</label><br>
        <input type="radio" value="3" name="será">
        <label for="3" type="radio">4</label><br>
        <input type="radio" value="4" name="será">
        <label for="4" type="radio">elefante</label><br>

        <!-- Pergunta 2 - Input texto -->
        <p>Qual é o sentido da vida?</p>
        <input type="text" name="answer"><br><br>

        <input type="submit" name="submit">
    </form> 
</body>