<!DOCTYPE html>
<html style="scroll-behavior: smooth">  
<body>

<img src="logo_black.png" alt="logo" width="30" height="30"style="vertical-align:middle;">

<head>
<center><h1>HS ao Quadrado</h1></center>
<center><h3>A melhor forma de te preparares para os Exames Nacionais</h3></center>
</head>

<h3>Quizzes Disponíveis</h3>

<ul>
<li><a href="/question"> Perguntas Exemplo </a></li>
</ul>
<a href="./person/list/"> List of persons </a>
<br>
<a href="./blog/list/"> List of Articles </a>

</body>
</html>