{% extends 'base.html'%}
{% load static %}
  
{% block content %}

<nav class="navbar navbar-expand-lg mb-3">
  <div class="container-fluid d-flex bd-highlight">
    
    <a class="navbar-brand p-2 w-100 flex-grow-1 bd-highlight" href="#"><img src="{% static 'img/logo_black.png' %}" alt="logo" width="70" height="70" style="vertical-align:middle;"></a>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="d-flex p-2 justify-content-end" onclick="myFunction()"><img src="{% static 'light_dark_mode/lua.png' %}" width="5%"></a>
        <a class="d-flex p-2 justify-content-end" href="#">Contactos</a>
        <a class="d-flex p-2 justify-content-end" href="/login">Entrar</a>
        
      </div>
    </div>
  </div>
</nav>

<table>
  <tr>
    <td><h3 class="titulo"> Uma nova forma <br> de estudares <br> para os Exames Nacionais</h3></td>
    <td><img class="emoji" src="{% static 'img/emoji.png' %}" alt="emoji" width="210" height="210"></td>
  </tr>
  <tr>
    <td><a href="/signup"><button type="button" class="btn btn-primary btn-lg">Regista-te!</button></a></td>
  </tr>
</table>




{% endblock %}