{% extends 'base.html'%}

{% block content %}
    Objecto agarrado:              {{exam_list}}<br>
    Questões no objecto:           {{question_list}} <br>
    Questões falhadas no objecto:  {{failed_list}} <br>
    Questões acertadas no objecto: {{correct_list}} <br>

<div class="form_exam">
<form method="POST" action="http://127.0.0.1:8000/exame/results/{{exam_list.id}}"> {% csrf_token %}

    {%for question in question_list%}

        <h3>{{question.text}}</h3>

        <p><input type='radio' name='{{question.id}}' value={{question.correctAnswer.id}}>{{question.correctAnswer.text}}</p>

        {% for wrongAnswer in question.wrongAnswers.all  %}
            <p><input type='radio' name='{{question.id}}' value={{question.wrongAnswer.id}}> {{wrongAnswer.text}}</p>
        {% endfor %}

    {%endfor%}

    <button class="btn btn-secondary" type="submit" name="ExamAnswered">Submeter</button>
</form></div>
    <p>{{exam_list.subject}} {{exam_list.year}} {{exam_list.difficulty}} ----> Score:{{exam_list.score}}  </p>

{% endblock %}
