{% extends 'base.html'%}

{% block content %}
    Objecto agarrado:              {{exam_list}}<br>
    Questões no objecto:           {{question_list}} <br>
    Questões falhadas no objecto:  {{failed_list}} <br>
    Questões acertadas no objecto: {{correct_list}} <br>


    {%for question in question_list%}

        <h3>{{question.text}}</h3>

        <p>{{question.correctAnswer.text}}</p>

        {% for wrongAnswer in question.wrongAnswers.all  %}
            <p>{{wrongAnswer.text}}</p>
        {% endfor %}

    {%endfor%}

    <p>{{exam_list.subject}} {{exam_list.year}} {{exam_list.difficulty}} ----> Score:{{exam_list.score}}  </p>

{% endblock %}
